<div class="main-header">
	<div>
		<img class="logo" src="assets/img/logo.jpg">
	</div>
  <div class="title">Open for Business <span class="super">Beta</span></div>
  <div class="subtitle">Helping enterpreneurs find their place in the world</div>
</div>
<div class="gridContainer clearfix">
  <div class="ba-selector"></div>
  <div class="map-interface" style="opacity: 0">
	  <div class="div-left">
	  	<div class="left-panel">
	  		<div class="geocoder-container"></div>
	  	</div>	
			<div class=" layers-container left-panel">
				<b>Select Map Parameter:</b><br>
				<ul type="none">
					<li> <input id="demo1" type="radio" name="Select" value="1" class="demo"><b>Population Density</b></li>
					<li> <input id="demo2" type="radio" name="Select" value="2" class="demo"><b>Median Income</b></li>
					<li> <input id="demo3" type="radio" name="Select" value="3" class="demo"><b>Median Age</b></li>
					<li> <input id="demo4" type="radio" name="Select" value="4" class="demo"><b>Education</b></li>
				</ul>
			</div>
			<div id ="div-legend" class="left-panel">
				<div class="legend-container"></div>
			</div>
	  </div>
	  <div class="div-right">
	 	  <div id="mapContainer" class="map-container content" style="width: 100%">
	 	  	<div id="homeButton"></div>
	 	  	<div class="map-notify">
	 	  		<div>Please zoom in to see data</div>
 	  		</div>
	 	  </div>
	  </div>
  </div>
  <div id="verbiage" class="fluid">
  	<p>Note:  The <em>Census – Open for Business</em> tool provides selected information that entrepreneurs 
  	can use to help them make informed decisions. Every attempt was made to ensure that these data 
  	are complete and accurate, but entrepreneurs should be cautious and consult with business professionals 
  	before making important business decisions.</p>
		
		<p>For information on survey methodology, see the American Community Survey, County Business Patterns, 
			Economic Census, and Nonemployer Statistics sites.  All dollar figures shown are in current dollars 
			for the period shown, are not adjusted for inflation, and do not reflect change in prices.</p>
        <p><b>The Open for Business Beta website will be available for access and feedback until October 31, 2014.</b></p>
  </div>
</div>